/* your styles go here */
hr.divider {
    overflow: visible;
    padding: 0;
    margin-bottom: 10px;
    border: none;
    border-top: 1px solid #e0e0e0;
    color: #6e6d7a;
    text-align: center;
}

hr.divider:after {
    content: 'Atau';
    display: inline-block;
    position: relative;
    top: -13px;
    font: normal 14px/14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 16px;
    background: #fff;
}
